.face.face0 {
    background-color:#00f; 
}
.face.face1 {
    background-color:#d00; 
}
.face.face2 {
    background-color:#080; 
}
.face.face3 {
    background-color:#FF8C00; 
}
.face.face4 {
    background-color:#ff0; 
    color:#000;
}
.face.face5 {
    background-color:#fff; 
    color:#000;
}
